# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.ipynb_checkpoints/

# Data files
*.csv
*.h5
*.pkl
*.img

# OS and Secret Info
.DS_Store
Thumbs.db
*.env

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# IDE Config Files
.vscode/
.idea/

# Documentation and Cache
docs/_build/
*.tmp
*.bak
*.swp

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# PyBuilder
.target/

# Sphinx documentation
*.pot
*.mo

